
body {
    background-color: lightblue;
    font-size: 12pt;
}
.flexcontainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

button a {
   text-decoration: none;
   color: initial;
}
