<h2>Contacts</h2>

<a class="waves-effect waves-light btn" href="/contacts/new">New Contact</a>
<br>
<a class="waves-effect waves-light btn" href="/contacts/search_form">Search</a>
<br>


        <% @contacts.each_with_index do |contact, i| %>

            <h6><a href="/contacts/<%= i %>"><%= contact[:name] %></a></h6>

        <% end %>
