<h2>Search</h2>

<form action="/contacts/<%= @i %>/update" method="POST">
  <p><input type="text" name="name" value="  "></p>
  <a class="waves-effect waves-light btn" href="/contacts"><input type="submit" value="Search"></a>
  <a class="waves-effect waves-light btn" href="/contacts">Index</a>
</form>
